:root {
   --color-primary: #0069f5;
   --color-primary-hover: #3b90ff;
   --color-white: #ffffff;
   --color-white-hover: #afd1ff;
   --dark-blue: #0000dc;
   --form-border: #78b2ff;
}
:root {
   --font-base: #333333;
   --font-base-hover: #858585;
}
:root {
   --accent-silver: #c9caca;
   --accent-purple: #884898;
   --accent-blue: #0000ff;
   --accent-skyBlue: #00bfff;
   --accent-yellowGreen: #33ff99;
   --accent-orange: #ff9900;
   --accent-red: #ff0000;
}
:root {
   --blue-gradation: linear-gradient(120deg, #0075ff 9.62%, #000099 81.95%);
}
